.left-panel {
  min-width: 30vw;
  height: 100vh;
}

.left-panel-header {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
}

.left-panel-header h1 {
  font-weight: 300;
}

.left-panel-header h2 {
  font-weight: 700;
  font-size: 15px;
}

.left-panel-header a {
  font-weight: 500;
  color: blue;
  font-size: 15px;
}
